<% 
	for(const year in transactions){
		console.log(year, transactions[year]);
%>
<div class="accordion" id="accordionExample<%= year %>">
	<div class="accordion-item">
		<h2 class="accordion-header" id="heading<%= year %>">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#year<%= year %>" aria-expanded="true" aria-controls="collapseOne">
				<%- year %>
			</button>
		</h2>
		<div id="year<%= year %>" class="accordion-collapse collapse show" aria-labelledby="heading<%= year %>" data-bs-parent="#accordionExample<%= year %>">
			<div class="accordion-body">
				<%- include('../partials/list.ejs', {transactions:transactions[year]}) %>
			</div>
		</div>
	</div>
</div>
<% 
	}
%>